<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Anh Tu - {{ .Site.BaseURL }}" />
<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content="#fafafa"
/>
<meta
  name="theme-color"
  media="(prefers-color-scheme: dark)"
  content="#15202b"
/>
<meta
  name="description"
  content="{{ with .Params.description }}{{ . }}{{ else
}}{{ site.Params.description }}{{ end }}"
/>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐞</text></svg>"
/>
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html" . }}
